/* Color Palete

    #BFD7EA - Pale Aqua
    #91AEC1 - Pewter Blue
    #508CA4 - Rackley
    #0A8754 - Spanish Green
    #004F2D - British Racing Green

*/

/* Global Styles */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #004f2D;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Spectral SC', serif;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

/* Header and Footer */

header, footer {
    background: #91AEC1;
    color: #004f2D;
}

header h1, header h2 {
    color: #004f2D;
}

/* Work Experience */
.work {
    background: #BFD7EA;
}

/* Education */
.education {
    background: #BFD7EA;
}