/* Color Palete

    #BFD7EA - Pale Aqua
    #91AEC1 - Pewter Blue
    #508CA4 - Rackley
    #0A8754 - Spanish Green
    #004F2D - British Racing Green

*/

/* Global Styles */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: #508CA4;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Spectral SC', serif;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}
h3 {
    margin: 0;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-narrow {
    width: 30%;
    float: left;
}
.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
}
.uppercase {
    text-transform: uppercase;
}
.btn {
    text-decoration: none;
    background: white;
    padding: 10px;
    display: inline-block;
}

/* Header and Footer */

header, footer {
    background: #004F2D;
    color: #BFD7EA;
}


/* Header Styles */
header {
    padding-top: 50px;
    position: relative;
}
header h1, header h2 {
    color: #BFD7EA;
}
.profile-img {
    border-radius: 50%;
}
.download {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Footer Styles */


.contact-info a {
    padding: 10px;
    display: inline-block;
}

/* Navigation */
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* Work Experience */
.work {
    background: #91AEC1;
}
h3 ~ p {
    margin: 0;
}
.job-description {
    margin-bottom: 10px;
}
.job-description p:first-of-type {
    margin-top: 0;
}

/* Education */
.education {
    background: #91AEC1;
}
p + h3 {
    margin-top: 30px;
}